{%extends 'shop/basic.html' %}

{%block css%} 
	.col-md-3
	{
	display: inline-block;
	margin-left:-4px;
	}
	
	.carousel-indicators .active {
	background-color: blue;
	}
	
	.col-md-3 img{
	
	max-width: 227px;
	height: 242px;
	}
	
	body .carousel-indicator li{
	background-color: blue;
	}
	
	body .carousel-indicators{
	bottom: 0;
	}
	
	body .carousel-control-prev-icon,
	body .carousel-control-next-icon{
	background-color: blue;
	margin-bottom: 304px;
	}
	
	.carousel-control-prev,
	.carousel-control-next{
	top: auto;
	bottom: auto;
	}
	body .no-padding{
	padding-left: 0,
	padding-right: 0;
	}

	<!-- .addtocartbutton {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	} -->
{%endblock%}

{% block title %}
  AShoP
{% endblock title %}

{% block head %}
<script>
	$(function () {
		$('#popcart').popover({
			placement: 'bottom',
			container: 'body',
			html: true,
			trigger: 'hover',
			content: '<p>Popover is only dismissed when the "dismiss" button is explicity clicked, or when neither button nor popover is hovered over.</p><button type="button" class="btn btn-default popover-dismiss">dismiss</button>'
		});
	})
</script>

{% endblock head %}

{%block body%}

<!-- <div class="container">
  {% for i in range %}
	<ul>{{i}}</ul>
  {% endfor %}
</div> -->

<div class="container" xmlns:data="http://www.w3.org/1999/xhtml">
	<div id="demo" class="carousel slide " data-ride="carousel">'
		<ol class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
	{% for i in range %}
	
	   <li data-target="#demo" data-slide-to="{{i}}" ></li>
	{% endfor %}
</ol>

<!--        slideshow starts here-->

	  <div class="carousel-inner">
		<div class="carousel-item active">

			{% for i in product%}
			<div class="col-xs-4 col-sm-4 col-md-3">
			  <div class="card" style="width: 18rem;">
				<img src="/media/{{i.image}}" class="card-img-bottom" alt="...">
				<div class="card-body">
				  <h5 id="titlepr{{i.id}}" class="card-title">{{i.product_name}}</h5>
				  <p class="card-text">{{i.desc|slice:"0:50"}} </p>
				  <span id="divpr{{i.id}}" class="divpr">
				  <button id="pr{{i.id}}"   href="#" class="btn btn-primary cart">Add to Cart</button>
				  </span>
				  <a href="/shop/productview/{{i.id}}"><button id="qv{{i.id}}" href="#" class="btn btn-primary cart">Quick View</button></a>				  				  
				</div>
			  </div>
			</div>

			{% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
			 </div><div class="carousel-item">
			{% endif%}
				
			{% endfor %}
	  </div>

	  </div>
		</div>

<!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</!-->
<!-- <a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a> --> 
</div>
 {% endblock %}



{%block js%}
<script>

if (localStorage.getItem('cart') == null) {
	var cart = {};
}
else {
	cart = JSON.parse(localStorage.getItem('cart'));
	document.getElementById('cart').innerHTML = Object.keys(cart).length;
	updatecart(cart);
  }

$('.cart').click(function(){
	let ans = 0;
	let idstr=this.id.toString();
	let name=document.getElementById(`title${idstr}`).innerText;
	if(cart[idstr]==undefined)
		cart[idstr]=[1,name];
	else
		cart[idstr][0]+=1;
	console.log(cart);
	updatecart(cart);
})





$('#popcart').popover();
function updatepopover(cart)
{
  var popStr="";
  var i=1;
  popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div>";
  for(let item in cart)
  {
	popStr=popStr + `<b>${i}. </b>`;
	let pop=document.getElementById(`title${item}`).innerText;
	popStr = popStr + pop + `<br> Qty: <b>${cart[item][0]}</b><br>`;
	i++;
  }
  console.log(cart);
  popStr+='</div>';              
  popStr+='<div class="deletecart">';
  popStr += '<a href="#" id="dcart" class="delete badge badge-dark mx-5 my-2">ClearCart</a>';
  popStr += '<a href="{% url "checkout" %}" " class="badge badge-success  my-2">Checkout</a>';
  popStr+='</div>';
  document.getElementById('popcart').setAttribute('data-content',popStr);
  console.log(popStr);
  $('#popcart').popover();
}



$(".delete").on("click","div.dcart",function(){
	console.log("WORKING");
	localStorage.clear();	
	updatecart(cart);
})

function updatecart(cart)
{   
  for(let i in cart)
  {
	if(cart[i][0]==0)
	{
		document.getElementById(`div${i}`).innerHTML=`<span id="divpr${i}" class="divpr">
				<button id="pr${i}"   href="#" class="btn btn-primary cart">Add to Cart</button>
				</span>`;
	}
	else
	{
		document.getElementById(`div${i}`).innerHTML = `<button id='minus${i}' class='btn btn-primary minus '>-</button> <span id='val'> ${cart[i][0]} </span id='val${i}'> <button id='plus${i}' class='btn btn-primary plus '>+</button>`;

	}
  }
  localStorage.setItem('cart', JSON.stringify(cart));
  document.getElementById('cart').innerHTML = Object.keys(cart).length;
  updatepopover(cart);
}



$('.divpr').on("click", "button.minus", function () {
	a = this.id.slice(5,);
	console.log(a);
	cart[a][0]=cart[a][0]-1;
	cart[a][0] = Math.max(0, cart[a][0]);
	updatecart(cart);
});


$('.divpr').on("click", "button.plus", function () {
	a = this.id.slice(4,);
	console.log(a);
	cart[a][0] = cart[a][0] + 1;
	updatecart(cart);
});

  
  
  
</script>
{%endblock js%}