{%extends 'shop/basic.html' %}

{%block css%} 
    .col-md-3
    {
    display: inline-block;
    margin-left:-4px;
    }
    
    .carousel-indicators .active {
    background-color: blue;
    }
    
    .col-md-3 img{
    
    max-width: 227px;
    height: 242px;
    }
    
    body .carousel-indicator li{
    background-color: blue;
    }
    
    body .carousel-indicators{
    bottom: 0;
    }
    
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon{
    background-color: blue;
    margin-bottom: 304px;
    }
    
    .carousel-control-prev,
    .carousel-control-next{
    top: auto;
    bottom: auto;
    }
    body .no-padding{
    padding-left: 0,
    padding-right: 0;
    }

{%endblock%}
    
{%block body%}

<!-- <div class="container">
  {% for i in range %}
    <ul>{{i}}</ul>
  {% endfor %}
</div> -->

<div class="container" xmlns:data="http://www.w3.org/1999/xhtml">
    <div id="demo" class="carousel slide " data-ride="carousel">'
        <ol class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
    {% for i in range %}
    
       <li data-target="#demo" data-slide-to="{{i}}" ></li>
    {% endfor %}
</ol>

<!--        slideshow starts here-->

      <div class="carousel-inner">
        <div class="carousel-item active">

            {% for i in product%}
            <div class="col-xs-4 col-sm-4 col-md-3">
              <div class="card" style="width: 18rem;">
                <img src="/media/{{i.image}}" class="card-img-bottom" alt="...">
                <div class="card-body">
                  <h5 id="titlepr{{i.id}}" class="card-title">{{i.product_name}}</h5>
                  <p class="card-text">{{i.desc|slice:"0:50"}} </p>
                  <span id="divpr{{i.id}}" class="divpr">
                  <button id="pr{{i.id}}"   href="#" class="btn btn-primary cart">Add to Cart</button>
                  </span>
                  <a href="/shop/productview/{{i.id}}"><button id="qv{{i.id}}" href="#" class="btn btn-primary cart">Quick View</button></a>
                  
                </div>
              </div>
            </div>

            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
             </div><div class="carousel-item">
            {% endif%}

            {% endfor %}
      </div>

      </div>
        </div>

<!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</!-->
<!-- <a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a> --> 
</div>
 {% endblock %}



{%block js%}
<script>

if (localStorage.getItem('cart') == null) {
    var cart = {};
}
else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    updatecart(cart);
  }

$('.cart').click(function(){
  let ans = 0;
  let idstr=this.id.toString();
  console.log(idstr);
  if(cart[idstr]!=undefined)
  cart[idstr]+=1;
  else
  cart[idstr]=1;
  console.log(cart);
  updatecart(cart);
})





$('#popcart').popover();
function updatepopover(cart)
{
  var popStr="";
  var i=1;
  popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div>";
  for(let item in cart)
  {
    popStr=popStr + `<b>${i}. </b>`;
    let pop=document.getElementById(`title${item}`).innerText;
    popStr = popStr + pop + `<br> Qty: <b>${cart[item]}</b><br>`;
    i++;
  }
  console.log(cart);
  //  document.getElementById('popcart').setAttribute('data-content', "This is your cart");
  popStr+='</div>';              
  popStr += '<a href="#" class="badge badge-dark mx-5 my-2">Checkout</a>';
  popStr+='<a href="#" class=" clear badge badge-primary">ClearCart</a>';
  document.getElementById('popcart').setAttribute('data-content',popStr);
  console.log(popStr);
  $('#popcart').popover();
}


// $('.clearcart()').click(function(cart)
function clearcart()
{
  for(let i in cart)
  {
    document.getElementById('div'+i).innerHTML=`<button id='${i}' href="#" class="btn btn-primary cart">Add to Cart</button>`;
  }
  localStorage.clear();
  // updatecart(cart);
}


function updatecart(cart)
{   
  for(let i in cart)
  {
    document.getElementById(`div${i}`).innerHTML = `<button id='minus${i}' class='btn btn-primary minus '>-</button> <span id='val'> ${cart[i]} </span id='val${i}'> <button id='plus${i}' class='btn btn-primary plus '>+</button>`;
  }
  localStorage.setItem('cart', JSON.stringify(cart));
  document.getElementById('cart').innerHTML = Object.keys(cart).length;
  updatepopover(cart);
}



$('.divpr').on("click", "button.minus", function () {
  a = this.id.slice(5,);
  console.log(a);
  cart[a]=cart[a]-1;
  cart[a] = Math.max(0, cart[a]);
  // document.getElementById('val' + a).innerHTML = cart[a];
  updatecart(cart);
});


$('.divpr').on("click", "button.plus", function () {
  a = this.id.slice(4,);
  console.log(a);
  cart[a] = cart[a] + 1;
  // document.getElementById('val' + a).innerHTML = cart[a];
  updatecart(cart);
});

  
  
  
</script>
{%endblock%}